name: GitHub Actions Demo
run-name: ${{ github.actor }} is testing out GitHub Action
on:
  pull_request:
    branches: 
      - IDC_demo_master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true


jobs:
  openXLA-DEMO-CI:
    runs-on: IDC_demo
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Prepare Conda Environment
        run: |
          ls ${{ github.workspace }}
          CONDA_ENV=openxla_preCI
          source ${HOME}/miniconda3/bin/activate ${CONDA_ENV}
          if [ $? -ne 0 ]; then
              echo 'conda env does not exist'
              conda create -n ${CONDA_ENV} python=3.10 -y
              conda activate ${CONDA_ENV}
          fi
          pip install jax==0.4.13 jaxlib==0.4.13
          pip install numpy
          conda install libstdcxx-ng==12.2.0 -c conda-forge
          pip install absl-py
          pip list | grep numpy
          pip list | grep jax

      - name: Build openXLA
        run: |
          echo ${CONDA_ENV}
          source ${HOME}/miniconda3/bin/activate ${CONDA_ENV}
          wget https://github.com/bazelbuild/bazel/releases/download/5.3.0/bazel-5.3.0-installer-linux-x86_64.sh
          bash bazel-5.3.0-installer-linux-x86_64.sh --user
          export PATH=$PATH:/home/sdp/bin
          source /home/sdp/.bazel/bin/bazel-complete.bash
          bazel --version
          pip list | grep numpy
          pip install numpy
          basekit_path=/home/sdp
          complier_path=${basekit_path}/intel/oneapi/compiler/latest/linux
          mkl_path=${basekit_path}/intel/oneapi/mkl/latest
          cp /home/sdp/openXLA_demoxla_auto_configure_mkl.exp .
          ls
          python --version
          chmod +x ./openXLA_demoxla_auto_configure_mkl.exp
          ./openXLA_demoxla_auto_configure_mkl.exp $complier_path $mkl_path
          bazel clean --expunge --async
          bazel build //xla/tools/pip_package:build_pip_package
          ./bazel-bin/xla/tools/pip_package/build_pip_package ./
          build_result=${PIPESTATUS[0]}
          echo $build_result
          if [ "$build_result" = "0" ];then
              echo "Build successful"
              pip install *.whl
          else
              echo "Build Failed"
              exit 1
          fi
      - name: UT testing
        run: |
          echo ${CONDA_ENV}
          source ${HOME}/miniconda3/bin/activate ${CONDA_ENV}
          basekit_path=/home/sdp
          source ${basekit_path}/intel/oneapi/compiler/latest/env/vars.sh
          source ${basekit_path}/intel/oneapi/mkl/latest/env/vars.sh
          folder_path="/home/sdp/xuming/ut"

          # Loop through all Python files in the folder and execute them
          for file in "$folder_path"/*.py; do
                  echo $file
                  if [ -f "$file" ]; then
                  echo "Running $file..."
                  ${CONDA_PREFIX}/bin/python "$file" |& tee ./$file.log
                  if [ ${PIPESTATUS[0]} -eq 0 ]; then
                    echo "run $test_case successfully"
                    echo "$test_case" | awk -F 'tests/' '{print $NF}' >> "./xla_ut_success.log"
                  else
                      echo "run $test_case failed"
                      echo "$test_case" | awk -F 'tests/' '{print $NF}' >> "./xla_ut_error.log"
                  fi
                  echo "----------------------------------------"
              fi
          done

          if [ -e "./xla_ut_error.log" ]; then
            echo "Error: xla_ut_error.log exist shows ut error"
            cat ./xla_ut_error.log
            exit 1
          fi